# Spam and ham detection

Cargamos los datos a un pandas data frame

In [148]:
import pandas as pd
import numpy as np

d = {'alargue': np.array([3, 1, 1, 4, 1, 2]),
     'automóvil': np.array([3, 4, 4, 2, 3, 4]),
     'casa': np.array([1,7,3, 1, 4 ,5 ]),
     'novedoso': np.array([6, 1, 1, 5, 2, 1]),
     'categoria': np.array([1, 0, 0, 1, 0, 0])}

new_d = {'alargue': np.array([4]),
         'automóvil': np.array([1]),
         'casa': np.array([1]),
         'novedoso': np.array([1])}

new_df = pd.DataFrame(data=new_d)
df = pd.DataFrame(data=d)
df

   alargue  automóvil  casa  novedoso  categoria
0        3          3     1         6          1
1        1          4     7         1          0
2        1          4     3         1          0
3        4          2     1         5          1
4        1          3     4         2          0
5        2          4     5         1          0

In [152]:


def get_words(df):
    w_list = []
    for col in df:
        if(col == "categoria"):
            break
        w_list.append(col)
    return w_list

def get_p_W_s(i):
    aux_df = df[i-1:i] # voy hasta el articulo i
    p = 1
    print(aux_df)
    w_tot = 
    for w in w_list:
        w_spam = sum(aux_df[aux_df["categoria"] == 1][w]) # sumo en los de la col w que son spam hasta el articulo i
        #w_tot = sum(aux_df[w]) # sumo todos los de la col w hasta el articulo i
        p *= w_spam/w_tot # *= P(Xn / Class = 0)
    # p = P(X1 / Class = 0) * P(X2 / Class = 0) * ... 
    return p
def get_p_W_dado_s(w_list,df):
    # la informacion que tengo es que dada una palabra es spam
    # a mi me gustaria saber si es spam dado conjunto palabras
    p_spam = sum(df["categoria"])/len(df)
    p_s_W = np.array([p_spam]) #
    p_n_W = np.array([1-p_spam]) #
    #P(class=0|X1,X2) = P(X1|class=0) * P(X2|class=0) * P(class=0)
    for i in range(1,len(df)+1):
        p = get_p_W_s(i)    
        p_s_W = np.append(p_s_W, p_s_W[i-1] * p)
        p_n_W = np.append(p_n_W, p_n_W[i-1] * (1-p))
    return p_s_W, p_n_W

# P(spam/W) = P(W = w / spam = Yes) * P(Yes) / P(W = w)
def email_veredict(df):
    w_list = get_words(df)
    p_s_W, p_n_W = get_p_W_dado_s(w_list, df) # esto que se devuelve es proporcional
    print(p_s_W)
    # a p(spam = Yes / w1,w2,w3...) y p(spam = No / w1,w2,w3...) 
    ptot = p_s_W + p_n_W
    p_s_W /= ptot
    p_n_W /= ptot
    print(p_s_W)
    ans = []
#     for i in range(len(p_s_W)):
#         if(p_s_W[i]>p_n_W[i]):
#             ans.append("Es spam con probabilidad " + str(p_s_W[i]))
#         else:
#             ans.append("Es ham con probabilidad " + str(p_n_W[i]))
    return ans

ans = email_veredict(df)
# for i in range(len(ans)):
#     print(ans[i])

   alargue  automóvil  casa  novedoso  categoria
0        3          3     1         6          1
   alargue  automóvil  casa  novedoso  categoria
1        1          4     7         1          0
   alargue  automóvil  casa  novedoso  categoria
2        1          4     3         1          0
   alargue  automóvil  casa  novedoso  categoria
3        4          2     1         5          1
   alargue  automóvil  casa  novedoso  categoria
4        1          3     4         2          0
   alargue  automóvil  casa  novedoso  categoria
5        2          4     5         1          0
[0.33333333 0.33333333 0.         0.         0.         0.
 0.        ]
[0.33333333 1.                nan        nan        nan        nan
        nan]

C:\Users\joa-m\Anaconda3\envs\redes2\lib\site-packages\ipykernel_launcher.py:39: RuntimeWarning: invalid value encountered in true_divide
C:\Users\joa-m\Anaconda3\envs\redes2\lib\site-packages\ipykernel_launcher.py:40: RuntimeWarning: invalid value encountered in true_divide

In [101]:
def df_to_text(df):
    emails_filtrados = []
    for index, row in df.iterrows():
        text = ""
        for idx,col in enumerate(df):
            if col != "categoria":
                if(idx<len(d)-1):
                    aux_str = col + " " 
                else:
                    aux_str = col 
                text +=aux_str*row[col] # numero
        emails_filtrados.append(text)
    return emails_filtrados

from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
raw_data=count_vect.fit_transform(emails_filtrados)

print(raw_data.toarray())

emails_filtrados = df_to_text(df)
email_test = df_to_text(new_df)

X_train = raw_data
Y_train = df['categoria']

X_test  = count_vect.transform(email_test)

from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train.toarray(), Y_train)
import numpy as np
predict=(np.array(clf.predict(X_test.toarray())))[0]

print("El nuevo email insertado es: ")
if predict:
    print("Spam")
else:
    print("Ham")

[[3 3 1 6]
 [1 4 7 1]
 [1 4 3 1]
 [4 2 1 5]
 [1 3 4 2]
 [2 4 5 1]]
El nuevo email insertado es:
Spam